<!-- 右键菜单：不要放进 .js-pjax，否则换页会换掉节点、点击事件丢失 -->
<div th:if="${theme.config.tool.rightMenu.rightMenuEnable}">
    <div id="rightMenu">
        <div class="rightMenu-group rightMenu-small">
            <div class="rightMenu-item" id="menu-backward"><i class="haofont hao-icon-arrow-left"></i></div>
            <div class="rightMenu-item" id="menu-forward"><i class="haofont hao-icon-arrow-right"></i></div>
            <div class="rightMenu-item" id="menu-refresh"><i class="haofont hao-icon-arrow-rotate-right"></i></div>
            <div class="rightMenu-item" id="menu-top"><i class="haofont hao-icon-arrow-up"></i></div>
        </div>
        <div class="rightMenu-group rightMenu-line rightMenuPlugin">
            <div class="rightMenu-item" id="menu-copytext">
                <i class="haofont hao-icon-copy"></i>
                <span th:text="${#messages.msg('rightMenu.copyText')}"></span>
            </div>
            <div class="rightMenu-item" id="menu-pastetext">
                <i class="haofont hao-icon-paste"></i>
                <span th:text="${#messages.msg('rightMenu.pasteText')}"></span>
            </div>
            <a class="rightMenu-item" id="menu-commenttext">
                <i class="haofont hao-icon-comment-medical"></i>
                <span th:text="${#messages.msg('rightMenu.quoteComment')}"></span>
            </a>
            <div class="rightMenu-item" id="menu-newwindow">
                <i class="haofont hao-icon-window-restore"></i>
                <span th:text="${#messages.msg('rightMenu.openNewWindow')}"></span>
            </div>
            <div class="rightMenu-item" id="menu-copylink">
                <i class="haofont hao-icon-link"></i>
                <span th:text="${#messages.msg('rightMenu.copyLink')}"></span>
            </div>
            <div class="rightMenu-item" id="menu-copyimg">
                <i class="haofont hao-icon-images"></i>
                <span th:text="${#messages.msg('rightMenu.copyImage')}"></span>
            </div>
            <div class="rightMenu-item" id="menu-downloadimg">
                <i class="haofont hao-icon-download"></i>
                <span th:text="${#messages.msg('rightMenu.downloadImage')}"></span>
            </div>
            <div class="rightMenu-item" id="menu-newwindowimg" >
                <i class="haofont hao-icon-window-restore"></i>
                <span th:text="${#messages.msg('rightMenu.openImageNewWindow')}"></span>
            </div>
            <div class="rightMenu-item" id="menu-search">
                <i class="haofont hao-icon-search--line"></i>
                <span th:text="${#messages.msg('rightMenu.searchSite')}"></span>
            </div>
            <div class="rightMenu-item" id="menu-searchBaidu">
                <i class="haofont hao-icon-baidu"></i>
                <span th:text="${#messages.msg('rightMenu.searchBaidu')}"></span>
            </div>
        </div>
        <div class="rightMenu-group rightMenu-line rightMenuOther">
            <a class="rightMenu-item menu-link" id="menu-randomPost">
                <i class="haofont hao-icon-shuffle"></i>
                <span th:text="${#messages.msg('rightMenu.randomPost')}"></span>
            </a>
        </div>
        <!-- <div class="rightMenu-group rightMenu-line">
            <a class="rightMenu-item menu-link" href="cc/index.html">
                <i class="haofont icon-hand-holding"></i>
                <span>隐私协议</span>
            </a>
            <a class="rightMenu-item menu-link" href="cc/index.html">
                <i class="haofont icon-closed-captioning"></i>
                <span>版权协议</span>
            </a>
        </div> -->
        <div class="rightMenu-group rightMenu-line rightMenuOther">
            <div class="rightMenu-item" id="menu-copy">
                <i class="haofont hao-icon-copy"></i>
                <span th:text="${#messages.msg('rightMenu.copyAddress')}"></span>
            </div>
            <div th:if="${theme.config.comments.commentBarrageConfig.commentBarrageEnable}" class="rightMenu-item" id="menu-commentBarrage"
                 rel="external nofollow noreferrer" draggable="false" style="display: flex;">
                <i class="haofont hao-icon-chat--fill"></i>
                <span class="menu-commentBarrage-text" th:text="${#messages.msg('rightMenu.toggleHotComments')}"></span>
            </div>
        </div>
    </div>
    <div id="rightmenu-mask"></div>
</div>
