<!-- 右键菜单 -->
<div class="js-pjax"  th:if="${theme.config.tool.rightMenu.rightMenuEnable}">
    <div id="rightMenu">
        <div class="rightMenu-group rightMenu-small">
            <div class="rightMenu-item" id="menu-backward"><i class="haofont hao-icon-arrow-left"></i></div>
            <div class="rightMenu-item" id="menu-forward"><i class="haofont hao-icon-arrow-right"></i></div>
            <div class="rightMenu-item" id="menu-refresh"><i class="haofont hao-icon-arrow-rotate-right"></i></div>
            <div class="rightMenu-item" id="menu-top"><i class="haofont hao-icon-arrow-up"></i></div>
        </div>
        <div class="rightMenu-group rightMenu-line rightMenuPlugin">
            <div class="rightMenu-item" id="menu-copytext">
                <i class="haofont hao-icon-copy"></i>
                <span>复制选中文本</span>
            </div>
            <div class="rightMenu-item" id="menu-pastetext">
                <i class="haofont hao-icon-paste"></i>
                <span>粘贴文本</span>
            </div>
            <a class="rightMenu-item" id="menu-commenttext">
                <i class="haofont hao-icon-comment-medical"></i>
                <span>引用到评论</span>
            </a>
            <div class="rightMenu-item" id="menu-newwindow">
                <i class="haofont hao-icon-window-restore"></i>
                <span>新窗口打开</span>
            </div>
            <div class="rightMenu-item" id="menu-copylink">
                <i class="haofont hao-icon-link"></i>
                <span>复制链接地址</span>
            </div>
            <div class="rightMenu-item" id="menu-copyimg">
                <i class="haofont hao-icon-images"></i>
                <span>复制此图片</span>
            </div>
            <div class="rightMenu-item" id="menu-downloadimg">
                <i class="haofont hao-icon-download"></i>
                <span>下载此图片</span>
            </div>
            <div class="rightMenu-item" id="menu-newwindowimg" >
                <i class="haofont hao-icon-window-restore"></i>
                <span>新窗口打开图片</span>
            </div>
            <div class="rightMenu-item" id="menu-search">
                <i class="haofont hao-icon-search--line"></i>
                <span>站内搜索</span>
            </div>
            <div class="rightMenu-item" id="menu-searchBaidu">
                <i class="haofont hao-icon-baidu"></i>
                <span>百度搜索</span>
            </div>
        </div>
        <div class="rightMenu-group rightMenu-line rightMenuOther">
            <a class="rightMenu-item menu-link" id="menu-randomPost" onclick="toRandomPost()">
                <i class="haofont hao-icon-shuffle"></i>
                <span>随便逛逛</span>
            </a>
        </div>
        <!-- <div class="rightMenu-group rightMenu-line">
            <a class="rightMenu-item menu-link" href="cc/index.html">
                <i class="haofont icon-hand-holding"></i>
                <span>隐私协议</span>
            </a>
            <a class="rightMenu-item menu-link" href="cc/index.html">
                <i class="haofont icon-closed-captioning"></i>
                <span>版权协议</span>
            </a>
        </div> -->
        <div class="rightMenu-group rightMenu-line rightMenuOther">
            <div class="rightMenu-item" id="menu-copy">
                <i class="haofont hao-icon-copy"></i>
                <span>复制地址</span>
            </div>
            <div th:if="${theme.config.comments.commentBarrageConfig.commentBarrageEnable}" class="rightMenu-item" id="menu-commentBarrage"
                 rel="external nofollow noreferrer" draggable="false" style="display: flex;">
                <i class="haofont hao-icon-chat--fill"></i>
                <span class="menu-commentBarrage-text">关闭热评</span>
            </div>
        </div>
    </div>
    <div id="rightmenu-mask"></div>
</div>
