<th:block th:fragment="comment(group, kind, name, allowComment)" th:if="${allowComment && theme.config.comments.commentsEnable}">
    <!-- 已知问题 PJAX 下，comment 首次请求会出错。当前的临时解决办法是使用 js 重试 -->
    <div id="post-comment">
        <div class="comment-head">
            <div class="comment-headline">
                <i class="haofont hao-icon-chat--fill" style="font-size: 20px;"></i>
                <span th:text="${#messages.msg('page.comments.title')}"></span>
            </div>
            <div class="comment-randomInfo">
                <a th:if="${theme.config.comments.visitorMail.visitorMailEnable}"
                   sec:authorize="!isAuthenticated()"
                   onclick="heo.addRandomCommentInfo()" href="javascript:void(0)"
                   th:text="${#messages.msg('comment.anonymous')}"></a>
                <a href="/privacy" th:text="${#messages.msg('comment.privacy')}"></a>
            </div>
            <div class="comment-tips" id="comment-tips">
                <span th:text="${#messages.msg('comment.tip')}"></span>
            </div>
        </div>

        <!-- 对齐 zhheo：comment-wrap 包裹评论组件 -->
        <div class="comment-wrap">
            <div>
                <div th:if="${#strings.equals(theme.config.comments.use, 'Twikoo') &&
                         not #strings.isEmpty(theme.config.comments.twikoos.envId)}"
                     id="twikoo-wrap"></div>

                <div th:if="${#strings.equals(theme.config.comments.use, 'Artalk') && not #strings.isEmpty(theme.config.comments.artalks.server)}"
                     id="artalk-wrap"></div>

                <div th:if="${#strings.equals(theme.config.comments.use, 'Waline')
                      && not #strings.isEmpty(theme.config.comments.walines.serverURL)}" id="waline-wrap"></div>

                <halo:comment th:if="${pluginFinder.available('PluginCommentWidget') && #strings.equals(theme.config.comments.use, 'commentWidget')}"
                              th:attr="name=${name},kind=${kind},group=${group}"
                              colorScheme="document.documentElement.getAttribute('data-theme')"/>
            </div>
        </div>
    </div>
</th:block>
